# Dependencias de Node = alamacena fisicamente las dependencias y puede ser muy pesada
/node_modules 

# Resultados y reportes de Playwright 
/test-results 
/playwright-report 
/videos 
/screenshots 

# Archivos de configuración de VS Code 
.vscode/ 

# Archivos de entorno local ..
.env.local 

# Otros 
npm-debug.log*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
